body{
    background-color: rgb(236, 194, 194);
    padding: 100px;
}

.team{
    height: 150px;
    
    background-color:  white;
    padding: 20px;
    margin-right: 20px;
    float: left;
}
button{
    cursor: pointer;
    height: 50px;
    width: 350px;
    font-size:32px;
    padding: 100px;
    
    background-color:  yellow;
    color:white;
}

.winner{
    background-color: rgb(145, 180, 180);
    color:black;
}

